@import url("@rarui/styles/dist/index.css");

:root {
  --rarui-colors-surface-brand: rgba(42, 42, 42, 1);
  --rarui-colors-surface-brand-hover: rgba(42, 42, 42, 0.1);
  --rarui-colors-surface-brand-press: rgba(42, 42, 42, 0.2);
  --rarui-colors-surface-brand-subdued: rgba(42, 42, 42, 0.1);
  --rarui-colors-surface-on-brand-hover: rgba(0, 0, 0, 0.15);
  --rarui-colors-surface-on-brand-press: rgba(255, 255, 255, 0.25);
  --rarui-colors-content-brand: rgba(42, 42, 42, 1);
  --rarui-colors-content-on-brand: rgba(250, 251, 255, 1);
  --rarui-colors-content-brand-alt: rgba(165, 165, 165, 1);
  --rarui-colors-border-brand: rgba(199, 199, 199, 1);
  --rarui-colors-border-brand-alt: rgba(42, 42, 42, 1);

  /* --rarui-colors-surface-brand: rgba(129, 132, 197, 1);
  --rarui-colors-surface-brand-hover: rgba(129, 132, 197, 0.1);
  --rarui-colors-surface-brand-press: rgba(129, 132, 197, 0.2);
  --rarui-colors-surface-brand-subdued: rgba(129, 132, 197, 0.1);
  --rarui-colors-content-brand: rgba(129, 132, 197, 1);
  --rarui-colors-content-brand-alt: rgba(190, 191, 222, 1);
  --rarui-colors-border-brand: rgba(214, 214, 234, 1);
  --rarui-colors-border-brand-alt: rgba(129, 132, 197, 1); */

  --rarui-colors-surface-brand: rgba(95, 98, 168, 1);
  --rarui-colors-surface-brand-hover: rgba(95, 98, 168, 0.1);
  --rarui-colors-surface-brand-press: rgba(95, 98, 168, 0.2);
  --rarui-colors-surface-brand-subdued: rgba(95, 98, 168, 0.1);
  --rarui-colors-content-brand: rgba(95, 98, 168, 1);
  --rarui-colors-content-brand-alt: rgba(177, 178, 207, 1);
  --rarui-colors-border-brand: rgba(206, 207, 224, 1);
  --rarui-colors-border-brand-alt: rgba(95, 98, 168, 1);

  --rarui-fontFamily-body:
    Outfit, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", arial,
    sans-serif;
  --rarui-fontFamily-heading:
    Outfit, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", arial,
    sans-serif;
  --rarui-fontFamily-button:
    Outfit, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", arial,
    sans-serif;
}

[class*="rarui-theme-dark_variables"] {
  --rarui-colors-surface-brand: rgba(254, 254, 213, 1);
  --rarui-colors-surface-brand-hover: rgba(254, 254, 213, 0.1);
  --rarui-colors-surface-brand-press: rgba(254, 254, 213, 0.2);
  --rarui-colors-surface-brand-subdued: rgba(254, 254, 213, 0.1);
  --rarui-colors-content-brand: rgba(254, 254, 213, 1);
  --rarui-colors-content-brand-alt: rgba(254, 254, 231, 1);
  --rarui-colors-content-on-brand: rgba(42, 42, 42, 1);
  --rarui-colors-border-brand: rgba(255, 255, 239, 1);
  --rarui-colors-border-brand-alt: rgba(254, 254, 213, 1);

  --rarui-fontFamily-body:
    Outfit, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", arial,
    sans-serif;
  --rarui-fontFamily-heading:
    Outfit, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", arial,
    sans-serif;
  --rarui-fontFamily-button:
    Outfit, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", arial,
    sans-serif;
}
