.table-container {
  overflow: auto;
  padding-bottom: 0;
  border-style: solid;
  min-height: 550px;
  max-height: 550px;
  border-width: var(--rarui-shape-border-width-1);
  background-color: var(--rarui-colors-surface-primary);
  border-color: var(--rarui-colors-border-subdued);
  border-radius: var(--rarui-shape-border-radius-xs);
}

.table-container::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: var(--rarui-colors-surface-secondary);
}

.table-container::-webkit-scrollbar-thumb {
  cursor: pointer;
  border-radius: var(--rarui-shape-border-radius-pill);
  background-color: var(--rarui-colors-content-disabled);
}
